@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-dark {
    @apply bg-gray-900 px-4 py-2 rounded-lg capitalize font-medium;
  }

  .btn-submit {
    @apply bg-black px-4 py-2 rounded-lg capitalize font-medium;
  }

  .form-control {
    @apply bg-gray-900 px-3 py-2 rounded-lg capitalize outline-none w-full;
  }
}

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
